USE [VeriTabaniAdi]
GO
/****** Object:  Table [dbo].[OperationClaims]    Script Date: 15.06.2021 09:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
 CONSTRAINT [PK_OperationClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserOperationClaims]    Script Date: 15.06.2021 09:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OperationClaimId] [int] NOT NULL,
 CONSTRAINT [PK_UserOperationClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15.06.2021 09:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PasswordHash] [varbinary](500) NOT NULL,
	[PasswordSalt] [varbinary](500) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OperationClaims] ON 

INSERT [dbo].[OperationClaims] ([Id], [Name]) VALUES (1, N'admin')
SET IDENTITY_INSERT [dbo].[OperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[UserOperationClaims] ON 

INSERT [dbo].[UserOperationClaims] ([Id], [UserId], [OperationClaimId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserOperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status]) VALUES (1, N'Özgür', N'Mentese', N'ozgur@ozgur.com', 0x05231415C44259CCD0B74048A95EE6D705F634F9D75DD65C4ECB886C4E8D43A442D6771BDFE1B7EBA2C9956958933D52D66D704DF976182D6F08144717987D8A, 0x5626CF5E74CA8A713FFCAB395D0BB9E96D0212A80C8B792BE677AE7D76819938CB40CEFAF01187C60E62AD9487D6B054230238F03BB0C3FB39553C8CF0A2CA9F1C577CF7532BFE59A05A21BD22E7F610202DB2966626B500F7A076EEAEC0178EB3C2D459AF351182D2E98B22104EBB9306BDA29A7DB250CA48BD6C89302B3B12, 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status]) VALUES (2, N'Özgür', N'Mentese', N'ozgur2@ozgur.com', 0x328F96174B69F7AC78D4EC1C6BA567B16C7D2BEECF5CD7957766C1B84A9CD963435827EAF2EC35EBEDE5DA6385E8A8FA5F90D88885DF37BC98070660D81DC71D, 0x91F8BCA56F91097BC0B3A1508CEED652F34ADD8A4DE65AD301502583400CDD38D52CBFEA6426459EDA5249ED5774E06C90E94ED1EEE9B99412FC40326E592022F63B91467D76EB60050028891FEEF1B63B3AD92CCE5909EFDB5FD7B841F0A99027C3C3CE879DE7D57B6C8526B1DDCB0C67A68D67FCCA1A3079CB7DC03C032276, 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [PasswordHash], [PasswordSalt], [Status]) VALUES (3, N'Özgür', N'Mentese', N'ozgur3@ozgur.com', 0xAEE6327EE9FB5A05989A3E3486509A24E2E4953283C44C356A1501252CB75E62448638F695E0A8B559A615150F3E0DDABA5BBCBE22122EAC1658F3EC99168315, 0x9B01FF8242A21AF84F87F4B0DB2D1E99AB36B51B279EA3C023CE8557ACBE3CFF736A317484E03C2402A4BEC0196625B03604AE5882E8931CA93BE25039F0EF81A7CB2B77048601C47D8F95B5FB94724AA49DB9C9D8D5CCD73AF68D7E1C97A961CB3DD146E0F19C79DA718C7A4EAF5F3931516A2C9164BC8054E3C40D649520AC, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[UserOperationClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserOperationClaims_OperationClaims] FOREIGN KEY([OperationClaimId])
REFERENCES [dbo].[OperationClaims] ([Id])
GO
ALTER TABLE [dbo].[UserOperationClaims] CHECK CONSTRAINT [FK_UserOperationClaims_OperationClaims]
GO
ALTER TABLE [dbo].[UserOperationClaims]  WITH CHECK ADD  CONSTRAINT [FK_UserOperationClaims_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserOperationClaims] CHECK CONSTRAINT [FK_UserOperationClaims_Users]
GO
